.categories ul {
  list-style: none;
  padding: 0.5em;
}

.categories li {
  cursor: pointer;
  margin-top: 1px;
}

.listCategories {
  margin-top: 15px;
}
.listHelper {
  margin-top: 15px;
}
.tittle {
  background-color: #1a84fd;
  padding: 0.4em 0.7em;

  margin: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  font-size: 14pt;
}
