.container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.minHeight {
  min-height: 75%;
}

.fatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 30px;
  justify-content: center;
}

.contMain {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
}
