.iconsNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;

  background-color: rgba(255, 255, 255, 0.76);
  padding: 0.5em;
  width: 100%;
  overflow-x: hidden;
}
.iconsNav svg {
  font-size: 1.8em;
  margin-right: 10px;
}

.backgroundIcon {
  padding: 1em;
  border-radius: 20px;
}

.margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image {
  background: url("../img/PokeTibia.png");
  width: 40%;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}
