.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;


  background: linear-gradient(to right, #1a84fd, #1a84fd, #1a84fd, #ffcd00);
  border: 2px solid #1962b7;
  width: 98%;
  overflow-x: hidden;
  border-radius: 10px;
  margin-right: 30px;
}
.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar ul li {
  margin-right: 10px;
  font-size: 1.2em;
}

.styleNav {
  border-bottom: 1px solid rgb(0, 195, 255);
  font-size: 12pt;
}

.styleNav li a {
  text-decoration: none;
  color: white;
}
.styleNav li {
  padding: 0.5em;
}

.styleNav li a:hover {
  border-top: 2px solid rgb(0, 195, 255);
}

.hTittle {
  margin-left: 5px;
  color: white;
  padding-top: 2px;
}

.event {
  display: flex;
  padding: 0.3em;
}

.event svg {
  color: #ffcd00;
  font-size: 16pt;
}
