.iconsNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;

  background-color: rgba(255, 255, 255, 0.548);
  padding: 0.5em;
  min-width: 60%;
  overflow-x: hidden;
}
.iconsNav svg {
  font-size: 1.5em;
  margin: 0 5px;
}

.backgroundIcon {
  padding: 1em;
  border-radius: 20px;
}

.margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image {
  background: url("../img/PokeTibia.png");
  width: 200px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}
